header {
  background-image: url("../assets/images/Background_Intro.png");
  background-size: contain;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--gray-200);
}

header #about {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  padding-block: 10px;
  margin-top: 100px;
  padding-bottom: 60px;
  max-width: 680px;
}

.avatar {
  position: relative; /* Necessário para posicionar o ícone em relação ao avatar */
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid var(--red);
  overflow: hidden;
  margin: 0 auto; /* Centraliza a imagem */
  z-index: 1; /* Garante que o avatar esteja abaixo do ícone */
}

.avatar {
  position: relative; /* Define o contêiner como referência para posicionamento */
  width: 100px;
  height: 100px;
  border-radius: 50%; /* Torna o avatar circular */
  border: 2px solid var(--red); /* Define a borda vermelha */
  overflow: hidden; /* Garante que o conteúdo fique dentro dos limites */
  margin: 0 auto; /* Centraliza horizontalmente */
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1; /* Garante que o avatar esteja abaixo do ícone */
}

.icon {
  position: absolute;
  color: var(--green);
  font: var(--title-sm);
  left: 75%;
  top: 65%;

  z-index: 2;
  text-shadow: 
      -1px -1px 0 var(--gray-200),
      1px -1px 0 var(--gray-200),
      -1px 1px 0 var(--gray-200),
      1px 1px 0 var(--gray-200);
}

header h3 {
  margin-top: 56px;
  font: var(--text-subtitle);
  color: var(--gray-500);
  span {
    color: var(--red);
  }
}

header h1 {
  margin-top: 10px;
  font: var(--title-lg);
  color: var(--gray-600);
}

header p {
  margin-top: 25px;
  font: var(--text-sm);
  color: var(--gray-400);
  text-align: center;
}


#abilities {
  margin-top: 10px;
  /* border: solid 1px blue; */
  display: flex;
  gap: 16px;
  list-style: none;
  align-content:center;  
  font: var(--text-md);  
  color: var(--gray-600);
  justify-content: center;
}

li {
  display: flex;  
  border-radius: 9cap;
  background-color: var(--gray-300);
  padding: 8px 16px 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px; 
}

#html .icon-html {
  color: var(--red);
}

#css .icon-css {
  color: var(--blue);
}

#js .icon-js {
  color: var(--yellow);
}

#react .icon-react {
  color: var(--purple);
}

#node .icon-node {
  color: var(--green);
}

#caret {  
  margin-top: 84px;
}

